body, html {
  background-color: #011627;
  margin: 0;
  padding: 0;
}

button {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  background-color: #011627;
  color: #D8D8F6;
  border: 0.1em solid #D8D8F6;
  border-radius: 0.25em;
  font-size: 1.3em;
  margin: 0 0.2em 0 0;

  cursor: pointer;

  min-width: 2vmax;
  min-height: 2vmax;
  padding: 0;
}

button:hover {
  background-color: #D8D8F6;
  color: #011627;
}

ul {
  display: grid;
}

[hidden]{
  display:none;
}

.toolbar {
  top: 2%;
  left: 1%;
  position: absolute;
  display: grid;
}

.buttons {
  display: flex;
}

#mapsbar {
  padding: 0;
}

#canvas {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}
